<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757172875687-bag09qadaj490gquv2t1actmf6uc556a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757172875687-bag09qadaj490gquv2t1actmf6uc556a</string>
	<key>API_KEY</key>
	<string>AIzaSyD9r_OJcUstuWgYgRMuR0H9qsX1vRm5qZA</string>
	<key>GCM_SENDER_ID</key>
	<string>757172875687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adventure</string>
	<key>PROJECT_ID</key>
	<string>cloudfunction-39ae2</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudfunction-39ae2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757172875687:ios:aaf97fd5abd3b93b978682</string>
</dict>
</plist>